* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-style: oblique;
}

/*navbar styles*/
.all-links {
  color: white;
  text-decoration: none;
}

.navbar {
  color: white;
  background-color: rgb(14, 153, 196);
  height: 10vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 5px;
}

.navbar button {
  cursor: pointer;
  color: rgb(23, 128, 160);
  margin-right: 20px;
  font-size: 16px;
  padding: 5px;
  border: none;
  border-radius: 5px;
  transition: 0.3s ease;
}

.navbar button:hover {
  transform: scale(1.1);
}

.home {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.home h2 {
  padding: 0 20px;
}

.home li {
  list-style: none;
  padding: 0 20px;
  font-weight: bold;
}

.home img {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  margin-left: 10px;
}

/*title style*/
.title {
  margin: 20px 0 20px;
  color: rgb(14, 153, 196);
  font-size: 2rem;
  font-weight: bold;
}

/*productList style*/

.product-list {
  width: 100vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

/*empty cart style*/

.empty-cart {
  text-align: center;
  font-size: 1.5rem;
  color: rgb(14, 153, 196);
  margin: 100px;
}

.cart-columns {
  display: flex;
  justify-content: space-around;
  margin-bottom: 40px;
}

.cart-columns p {
  color: rgb(14, 153, 196);
  font-size: 1.4rem;
  font-weight: 600;
}

.cart-item {
  display: flex;
  justify-content: space-around;
  margin-bottom: 40px;
  align-items: center;
}

.cart-item img {
  height: 100px;
  width: 100px;
}

.remove-item button {
  font-size: 0.6rem;
}

.cart-item button,
span {
  padding: 5px;
  margin: 0 5px;
}

.cart-total {
  display: flex;
  margin-left: 80%;
  margin-bottom: 200px;
}

.cart-total button {
  width: 100%;
  padding: 5px;
  margin-bottom: 20px;
  color: rgb(231, 49, 49);
  background-color: #fff;
  font-size: 1.2rem;
  border: 1px solid rgb(231, 49, 49);
  border-radius: 5px;
  transition: 0.3s ease;
}

.cart-total button:hover {
  color: white;
  background-color: rgb(231, 49, 49);
  font-weight: bold;
  border: none;
  transform: scale(1.1);
}

/*product style*/

.product {
  margin-top: 10px;
  padding: 10px;
  border-radius: 5px;
  background-color: #eee;
  display: flex;
  flex-direction: column;
  transition: all 0.3s;
}

.product:hover {
  transform: scale(1.2) ease;
  box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.2);
}

.product img {
  border-radius: 5px;
  height: 120px;
  width: 120px;
}

.product button {
  margin-left: 5px;
}

.basic-info {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 10px;
}

/*details styles*/
.details {
  border-radius: 5px;
  margin: auto;
  margin-top: 50px;
  height: 90%;
  width: 90%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background-color: #eee;
}

.details h1 {
  margin-bottom: 20px;
}

.Dproduct {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Dproduct img {
  margin: 0 50px 50px;

  border-radius: 5px;
  height: 300px;
  width: 300px;
}

.buttons {
  margin-top: 20px;
  display: flex;
  justify-content: space-around;
}

@media all and (max-width: 500px) {
  .Dproduct {
    flex-direction: column;
  }

  .Dproduct img {
    height: 100px;
    width: 150px;
  }
}

/*modal*/

.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.3);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-container {
  text-align: center;
  background-color: #eee;
  padding: 10px;
  border-radius: 5px;
}

.modal-container img {
  border-radius: 5px;
  padding: 10px;
  height: 300px;
  width: 300px;
}

.buttons {
  display: flex;
  flex-direction: column;
}

.buttons button {
  margin: 10px 0 10px;
  width: 200px;
  font-size: 1.5rem;
  font-weight: bold;
  color: white;
  background-color: rgb(40, 162, 199);
  border: none;
  border-radius: 4px;
}

/*default styles*/

.default {
  text-align: center;
  margin: auto;
  margin-top: 30vh;
  width: 50%;
}

.url {
  font-weight: bolder;
  color: rgb(14, 76, 95);
}
